h5py==2.10.0
ipykernel==5.3.4
Keras==2.4.3
Keras-Preprocessing==1.1.2
matplotlib==3.2.2
mlxtend==0.17.3
numpy==1.19.0
opencv-python==4.2.0.34
pandas==1.0.5
Pillow==7.1.2
protobuf==3.12.2
python-speech-features==0.6
PyYAML==5.3.1
QtPy==1.9.0
scikit-learn==0.23.1
scipy==1.4.1
seaborn==0.10.1
sklearn==0.0
statsmodels==0.12.1
tables==3.6.1
tensorboard==2.2.2
tensorflow==2.2.0
tensorflow-gpu==2.2.0
torch==1.5.1
torchsummary==1.5.1
torchvision==0.6.1
tqdm==4.50.0
xlrd==1.2.0